/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
  --primary: #121212;
  --secondary: #19647e;
  --tertiary: #119da4;
  --quaternary: #f06542;
  --quinary: #4b3f72;
  --white: #f9f3f0;
  --magnolia: #EFE9F4;
  --richBlack: #07070A;
  --spacer: 8;
}

@font-face {
  font-family:LeagurSpartanBold;
  src: url("/LeagueSpartan-Bold.7cfa8368.otf");
}

@font-face {
  font-family:TitilliumWeb-Bold;
  src: url("/TitilliumWeb-Bold.8478c4ea.ttf");
}

@font-face {
  font-family:TitilliumWeb;
  src: url("/TitilliumWeb-Regular.f2a4c1ea.ttf");
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body.dark {
  background-color: var(--richBlack);
}

body {
  background-color: var(--magnolia);
}

.main {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
}

.main .card {
  width: 30rem;
  max-width: 80%;
  /*margin-top:1rem;*/
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: center;
}

.main .card .hero-outer {
  position: relative;
}

.main .card .hero-outer .hero-inner {
  display: flex;
  vertical-align: middle;
  justify-content:center;
  align-items: center;
  height:150px;
  width:150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid var(--white);
  padding: 5px;
}

.main .hero-inner img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.details{
  display: flex;
  flex-direction: column;
  color: var(--secondary);
}

.dark .details{
  color: var(--white);
}



.details h2 {
  font-family: 'TitilliumWeb-Bold', sans-serif;
}

.details h3 {
  font-family: 'TitilliumWeb', sans-serif;
}

.social-icon {
  padding: 0 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.social-icon:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.person{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.container {
  border-radius: 50%;
  height: 312px;
  /*-webkit-tap-highlight-color: transparent;*/
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}

.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}

.img1 {
  left: -16px;
  top: 132px;
  width: 376px;
}

@media screen and (max-width: 600px) {
  .main .card {
    max-width: 90%;
  }
}

.color--white {
  color: var(--white);
}

/*dard mode*/
.night-light-label{
  display: block;
  margin: 20px 0;
  height: 30px;
  width: 60px;
  border: 2px solid var(--tertiary);
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.night-light-label #night-light-checkbox {
  position: absolute;
  visibility: hidden;
}

.night-light-label .night-light-ball{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: var(--tertiary);
  z-index: 10;
  transition: 300ms ease;
}

.night-light-label #night-light-checkbox:checked + .night-light-ball {
  transform: translateX(28px);
}

.moon-svg,
.sun-svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sun-svg {
  left: 8px;
  fill: var(--magnolia);
}

.moon-svg {
  right: 8px;
  fill: var(--primary);
}

.dark #moon-svg,
.dark #sun-svg {
  fill: var(--magnolia);
}

.dark {
  background-color: #111;
  color: #e0e0e0;
}

.logo {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-top: 22px;
  width: 120px;
}

.logo.logo-dark {
  visibility: hidden;
  display: none;
}

.dark .logo.logo-white {
  visibility: hidden;
  display:none;
}

.dark .logo-dark {
  visibility: visible;
  display:block;
}

.logo.logo-white{
  display:block;
}


/*# sourceMappingURL=/main.c52e0fe2.css.map */